

<h3>{{viewTitle}}</h3>
<form action="/article" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{article._id}}">
    <div class="form-group">
        <label>Titre</label>
        <input type="text" class="form-control" name="titre" placeholder="Tite" value="{{article.titre}}">
    </div>
    <div class="form-group">
        <label>Resumer</label>
        <textarea class="form-control" name="resumer" placeholder="Resumer" value="{{article.resumer}}"></textarea>
    </div>
    
    <div class="form-group">
        <label>Contenu</label>
        <input type="text" class="form-control" name="contenu" placeholder="Contenu" value="{{article.contenu}}">
    </div>

    <div class="form-group">
        <label>Auteur</label>
        <input type="text" class="form-control" name="auteur" placeholder="Auteur" value="{{article.auteur}}">
    </div>

    <div class="form-row">
        <div class="form-group">
            <label>Date Creation</label>
            <input type="date" class="form-control" name="date_creation"  value="{{article.date_creation}}">
        </div>
        &nbsp &nbsp &nbsp
        <div class="form-group">
            <label>Date Mise à Jour</label>
            <input type="date" class="form-control" name="date_mise_jour" value="{{article.date_mise_jour}}">
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/article/list"><i class="fa fa-list-alt"></i> Afficher</a>
    </div>
</form>